.wrapper {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 2px solid steelblue;
}

.wrapper>img {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 2px;
    top: 2px;
}



